In [1]:
print()

In [2]:
print("Paiker")

Paiker

*Raw output are only for developer understanding*

In [3]:
"Paiker"

'Paiker'

In [4]:
54+295+25-63

311

In [5]:
-11-11

-22

In [6]:
print("Mohd","PAiker","Abbas")

Mohd PAiker Abbas

In [7]:
print(1,2,13,4,5,3.1,2.5,.31)

1 2 13 4 5 3.1 2.5 0.31

In [8]:
print("Mohd")
print("Paiker")
print("Abbas")

Mohd
Paiker
Abbas

In [9]:
print("Mohd \nPaiker \nAbbas")

Mohd
Paiker
Abbas

In [10]:
print("""
Mohd
Paiker
Abbas""")

Mohd
Paiker
Abbas

In [11]:
print(1,2,13,4,5,3.1,2.5,.31, sep="ü§¶‚Äç‚ôÇÔ∏è")

1ü§¶‚Äç‚ôÇÔ∏è2ü§¶‚Äç‚ôÇÔ∏è13ü§¶‚Äç‚ôÇÔ∏è4ü§¶‚Äç‚ôÇÔ∏è5ü§¶‚Äç‚ôÇÔ∏è3.1ü§¶‚Äç‚ôÇÔ∏è2.5ü§¶‚Äç‚ôÇÔ∏è0.31

In [12]:
print("Mohd", end="üòä")
print("Paiker", end="üòä")
print("Abbas", end="")

MohdüòäPaikerüòäAbbas

*age=18
colour2='red'
name='bob'
is_sleeping=False*

In [13]:
age=18
colour2='green'
name='Doremon'
is_sleeping=False

In [14]:
name='Nobita'

In [15]:
age=21

*Datatypes can be changed by changing value of variable*

In [16]:
colour=5

In [17]:
x=1
y=369515825156522621551255532168
z=9999999999999999999999999999999999999

In [18]:
a=1
b=369515825156522621551255532168
c=9.999999

In [19]:
x=1.10

In [20]:
y=1.0

In [21]:
z=35.59

In [22]:
z=87.7e100

In [23]:
name="Mohd Paiker Abbas"
colour='Yellow'
Institute="Digipodium"

In [24]:
is_coding=True
is_fun=False
are_you_bored=True

In [25]:
r=None

In [26]:
a=[5,15,5,96,25,15]
vals=[1,2.2,5,'Python']
colour=['red','green']

In [27]:
f=(5,15,5,96,25,15)
val=(1,2.2,5,'Python')
colour1=('red','green')

In [28]:
s={5,15,5,96,25,15}
va={1,2.2,5,'Python'}
colour3={'red','green'}

In [29]:
car_info={"brand":"Ford"
,"model":"Mustang",
"Year":1964}

*Input in Python*

In [30]:
name=input("What is your name?")
city=input("What city do you live in?")
print("So according to you")
print("you are", name)
print("and you live in", city)

So according to you
you are Rahbar
and you live in Pune

*Operators*

In [36]:
# arithmetic operators
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b) #float division

13
7
30
3.3333333333333335

*a//b gives quotient*

In [37]:
print(a//b) #integer division

3

In [38]:
print(a%b) #remainder

1

*a**b gives power*

In [40]:
10**2 #Power

100

*Assignment operator*

In [43]:
a=10
b=5
c=3
# alternate way to assign value to variable 
x,y,z=10,20,30

In [44]:
a+=2 # update a with a+2
a-=2 # update a with a-2
a*=2 # update a with a*2
a/=2 # update a with a/2

In [45]:
a**=2 # update a with a**2

In [47]:
a%=2 # update a with a%2

In [48]:
a//=2 # update a with a//2

*Comparison Operators*

In [52]:
print(a>b) # a is greater than b

False

In [53]:
print(a<b) # a is less than b

True

In [54]:
print(a>=b) #a is greater than equal to b
print(a<=b) #a is less than equal to b
print(a==b) #a equal to b
print(a!=b) #a is not equal to b

False
True
False
True

*Logical Operators(and,or,not)*

In [56]:
print(a<b and a==0)

True

In [57]:
print(a<b or a>5)
print(not a>b)
print(not a<b)

True
True
False

In [58]:
print(not a and not b and not c)

False

*Membership Operators*

In [59]:
colours=['red','blue','green','yellow','orange','purple']
print('red' in colours)
print('blue' in colours)
print('green' in colours)
print('yellow' in colours)
print('orange' in colours)
print('purple' in colours)

True
True
True
True
True
True

In [61]:
msg="Mohd Paiker Abbas"
print('Paiker'in msg)
print('rahbar'in msg)

True
False

In [62]:
# is operator check whether two objects belong to same memory location or not

In [70]:
# area of circle
r=float(input('Enter radius'))
print('area of circle=',3.14*r*r)

area of circle= 12.56

In [71]:
# area of rectangle
l=float(input('Enter length'))
b=float(input('Enter breadth'))
print('area of rectangle=',l*b)

area of rectangle= 20.0

In [72]:
# area of traingle
b=float(input('Enter base'))
h=float(input('Enter height'))
print('area of traingle=',0.5*b*h)

area of traingle= 5.0

In [73]:
#claculate hypotenus using perpendicular and base
p=float(input('Enter perpendicular'))
ba=float(input('Enter base'))
hyp=pow((p**2)+(ba**2),0.5)
print(hyp)

3.605551275463989

In [74]:
import math

In [79]:
#claculate hypotenus using perpendicular and base(more convinient method)
p=float(input('Enter perpendicular'))
ba=float(input('Enter base'))
hypo=math.hypot(p,ba)
print('Hypotenus=',hypo)

Hypotenus= 3.6055512754639896

In [78]:
#claculate factorial of 5
num=int(input('Enter a number'))
fact=math.factorial(num)
print('Factorial is', fact)

Factorial is 3628800

In [80]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [83]:
# claculate compound interest
p=int(input('Enter principle'))
r=float(input('Enter rate'))
n=int(input('Enter time'))
A=p*(1+r/100)**n
print('Amount=', A)
CI=A-p
print('Compound Interest=', CI)

Amount= 26620.000000000007
Compound Interest= 6620.000000000007