In [ ]:
*DEFYNING LIST IN PYTHON*

In [1]:
#List of strings
list1=['paiker','rahbar','aman','rahul']

In [2]:
#List of numbers
list2=[1,2,3,4,5,6]

In [3]:
#Mixed data list
list3=[1,2,'paiker',5,'aman','rahul']

In [4]:
#Nested List
list4=[[1,2,3],[4,5,6,5],[8,9,5,8,2]]

In [5]:
#Getting a list slice
l=[0,1,2,3,4,55,6,98,88,55]
slice1=l[3:-2]
print(slice1)

[3, 4, 55, 6, 98]

In [6]:
books=['Legion','Legion:skin deep','Harry Potter','The Vampire Diaries','The Song of ice and fire']

In [7]:
books[:3]

['Legion', 'Legion:skin deep', 'Harry Potter']

In [8]:
books[-3:]

['Harry Potter', 'The Vampire Diaries', 'The Song of ice and fire']

In [9]:
books[3:-3]

[]

In [22]:
#Append function
fruits=[]
fruits.append('apple')
fruits.append('banana')
fruits.append('grapes')
fruits.append('orange')
fruits.append('mango')

In [12]:
print(fruits)

['apple', 'banana', 'grapes', 'orange', 'mango']

In [13]:
#Insert fuction
fruits.insert(2,'guava')
print(fruits)

['apple', 'banana', 'guava', 'grapes', 'orange', 'mango']

In [14]:
fruits.insert(-1,'cherry')
print(fruits)

['apple', 'banana', 'guava', 'grapes', 'orange', 'cherry', 'mango']

In [23]:
#Extend function
dry_fruits=['Almonds','cashew','walnut']
fruits.extend(dry_fruits)
print(fruits)

['apple', 'banana', 'grapes', 'orange', 'mango', 'Almonds', 'cashew', 'walnut']

In [24]:
#Sort Function
fruits.sort()
print(fruits)

['Almonds', 'apple', 'banana', 'cashew', 'grapes', 'mango', 'orange', 'walnut']

In [34]:
x=[9,8,7,6,4,5,2,1,2,3,2]
x.sort()
print(x)

[1, 2, 2, 2, 3, 4, 5, 6, 7, 8, 9]

In [26]:
#reverse function
fruits.sort(reverse=True)
print(fruits)

['walnut', 'orange', 'mango', 'grapes', 'cashew', 'banana', 'apple', 'Almonds']

In [32]:
#Remove function
if 1 in x:
    x.remove(1)
print(x)
if 85 in x:
    x.remove(85)
print(x)

[2, 2, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 2, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
#Count function
x.count(2)

3

In [2]:
y=[1,1,1,1,2,2,2,2,5,6,7,8,2,6,1]
y.count(1)

5

In [40]:
#index function
fruits.index('banana')

5

In [7]:
y.pop(1)
print(y)

[1, 2, 2, 2, 2, 5, 6, 7, 8, 2, 6]

*wap to create a list of 5 values given by user*

In [8]:
ex=[]
for i in range(5):
    val=input(f'enter value {i+1}:')
    ex.append(val)
print(ex)

['banana', 'guava', 'grapes', 'apple', 'mango']

*wap to display sum of list*

In [9]:
data=[25,36,14,56,55]
total=0
for i in data:
    total+=i
    print(total)

25
61
75
131
186

In [2]:
from statistics import median


x=[2,4,3,6,9,4,6,2,8,5,8]
mean=sum(x)/len(x)
print(mean)
print(median(x))
print(min(x))
print(max(x))

5.181818181818182
5
2
9

In [19]:
a1=[2,5,4,8]
b1=[2,5,8,7]
n1=[]
for i ,j in zip(a1,b1):
    
       n1.append(i+j)
       
print(n1)

[4, 10, 12, 15]

In [23]:
a=[2,3,5,6,9,8,6,5,1,3,9,7]
b=[]
for i in a:
        b.append(i**2)
print(a)
print(b)

[2, 3, 5, 6, 9, 8, 6, 5, 1, 3, 9, 7]
[4, 9, 25, 36, 81, 64, 36, 25, 1, 9, 81, 49]

In [22]:
a=[2,3,5,6,9,8,6,5,1,3,9,7]
b=[]
for i in a:
    if i%2!=0:
        b.append(i**2)
print(a)
print(b)

[2, 3, 5, 6, 9, 8, 6, 5, 1, 3, 9, 7]
[9, 25, 81, 25, 1, 9, 81, 49]

In [1]:
books=['Legion','Legion:skin deep','Harry Potter','The Vampire Diaries','The Song of ice and fire']
a=[]
for item in books:
    items=item.split()
    s=''
    for i in items:
        s+=i[0]
    a.append(s)
print(a)

['L', 'Ld', 'HP', 'TVD', 'TSoiaf']

In [ ]:
entries=input('enter data to be separated with space ')