# TUPLE

In [1]:
a=(1,3,5,8,4)
print(a)
print(type(a))

(1, 3, 5, 8, 4)
<class 'tuple'>

In [2]:
b=1,5,8,9,8,4,5,5,8,7,3,2,5,4
print(b)
print(type(b))

(1, 5, 8, 9, 8, 4, 5, 5, 8, 7, 3, 2, 5, 4)
<class 'tuple'>

In [3]:
for val in a:
    print(val)

1
3
5
8
4

In [4]:
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [5]:
my_tuple=('a','p','c','p','a')
print(my_tuple.count('p'))

2

# SETS

In [7]:
s1={1,3,55,44,8,3,55,1,15,96,2}
print(s1)
print(type(s1))

{96, 1, 2, 3, 8, 44, 15, 55}
<class 'set'>

In [8]:
my_set=set([1,2,3,5,5,3])
print(my_set)

{1, 2, 3, 5}

In [9]:
a=set()
print(type(a))

<class 'set'>

In [10]:
my_set={1,3}
print(my_set)
my_set.add(2)
print(my_set)
my_set.update([2,3,4])
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}

In [11]:
my_set.discard(4)
print(my_set)

{1, 2, 3}

In [12]:
my_set.pop()
print(my_set)

{2, 3}

In [13]:
my_set.clear()
print(my_set)

set()

In [25]:
A={2,8,6,4,56,1,2,5,3}
B={1,5,6,8,6,4,8,5,9}
print(A|B)
print(A&B)
print(A-B)
print(B-A)
print(A^B)

{1, 2, 3, 4, 5, 6, 8, 9, 56}
{1, 4, 5, 6, 8}
{56, 2, 3}
{9}
{2, 3, 9, 56}

In [26]:
A={2,8,6,4,56,1,2,5,3}
B={1,5,6,8,6,4,8,5,9}
print(A.union(B))
print(A.intersection(B))
print(A.difference(B))
print(A.symmetric_difference(B))

{1, 2, 3, 4, 5, 6, 8, 9, 56}
{1, 4, 5, 6, 8}
{56, 2, 3}
{2, 3, 9, 56}

In [23]:
A={2,8,6,4,56,1,2,5,3}
B={1,5,6,8,6,4,8,5,9}
print(B.union(A))
print(B.intersection(A))
print(B.difference(A))

{1, 2, 3, 4, 5, 6, 8, 9, 56}
{1, 4, 5, 6, 8}
{9}

In [28]:
A1={'Fan','AC','Tubelight','Oven','Fridge'}
A2={'Tubelight','Mixer','Oven','TV','Iron'}
print(A1|A2)#UNION
print(A1&A2)#INTERSECTION
print(A1-A2)#DIFFERENCE
print(A2-A1)
print(A1^A2)#SYMMETRIC_DIFFERENCE

{'Oven', 'Iron', 'Fridge', 'TV', 'AC', 'Tubelight', 'Fan', 'Mixer'}
{'Oven', 'Tubelight'}
{'Fridge', 'Fan', 'AC'}
{'TV', 'Iron', 'Mixer'}
{'Iron', 'Mixer', 'AC', 'Fridge', 'Fan', 'TV'}

# DICTIONARY

In [31]:
dict={'name':'Jack','age':26}
print(dict['name'])
print(dict['age'])
print(dict)

Jack
26
{'name': 'Jack', 'age': 26}

In [45]:
dict['age']=35
dict['address']='Downtown'
print(dict)

{'name': 'Jack', 'age': 35, 'address': 'Downtown'}

In [47]:
squares={1:1,2:2,4:8,5:25,3:5}
print(squares.pop(5))
print(squares)

25
{1: 1, 2: 2, 4: 8, 3: 5}

In [4]:
report={
    'student 1':{
        'name': 'John',
        'marks':{
            'math': 80,
            'science': 90,
            'history': 70,
            'english': 60,
            'evs':80
        }
    },
    'student 2': {
        'name': 'Mary',
        'marks': {
            'math': 60,
            'science': 98,
            'history': 60,
            'english': 50,
            'evs':80
        }
    }
}

In [5]:
# nested loop for dictionary
for k,v in report.items():
    print("Student:",k)
    if isinstance(v,dict):
        for k1,v1 in v.items():
            if isinstance(v1,dict):
                for sub,marks in v.items():
                    print(sub,marks)
            else:
                print(v1)
    else:
        print(v)

Student: student 1
John
name John
marks {'math': 80, 'science': 90, 'history': 70, 'english': 60, 'evs': 80}
Student: student 2
Mary
name Mary
marks {'math': 60, 'science': 98, 'history': 60, 'english': 50, 'evs': 80}