* CLEANING DATA aka PREPROCESSING

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [5]:
filepath ='laptop_data.csv'
if not os.path.exists(filepath):
    print('File not found')
else:
    df=pd.read_csv(filepath,index_col=0)
    print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 528 entries, 0 to 527
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   528 non-null    object
 1   price   528 non-null    object
 2   link    528 non-null    object
dtypes: object(3)
memory usage: 16.5+ KB
None

In [6]:
df.duplicated().sum()

0

In [7]:
df['title'].duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
523     True
524    False
525    False
526     True
527     True
Name: title, Length: 528, dtype: bool

In [8]:
df['price_clean']=df['price'].apply(lambda val:int(val[1:].replace(',','')))

In [10]:
df.sort_values(by='price_clean',ascending=False,inplace=True)

In [11]:
df.tail()

,title,price,link,price_clean
317,Infinix INBook X1 Neo Series Celeron Quad Core...,"₹22,990",/infinix-inbook-x1-neo-series-celeron-quad-cor...,22990
188,ASUS (2022) Celeron Dual Core - (4 GB/128 GB S...,"₹22,990",/asus-2022-celeron-dual-core-4-gb-128-gb-ssd-w...,22990
288,Lenovo IdeaPad 1 Celeron Dual Core - (4 GB/256...,"₹21,513",/lenovo-ideapad-1-celeron-dual-core-4-gb-256-g...,21513
485,Avita SATUS ULTIMUS S111 Celeron Dual Core - (...,"₹21,490",/avita-satus-ultimus-s111-celeron-dual-core-4-...,21490
78,Infinix INBook X1 Neo Series Celeron Quad Core...,"₹18,990",/infinix-inbook-x1-neo-series-celeron-quad-cor...,18990

In [17]:
def clean_title(title):
    return title.split('-')[0].strip(),title.split('-')[1].strip()


df['title'].apply(clean_title)

510    (ASUS ROG Zephyrus Duo 16 Ryzen 9 Octa Core 69...
0      (MSI Core i9 12th Gen, (32 GB/2 TB SSD/Windows...
275    (MSI Core i9 12th Gen, (32 GB/2 TB SSD/Windows...
27     (MSI Core i9 12th Gen, (32 GB/2 TB SSD/Windows...
363    (MSI Core i9 12th Gen, (32 GB/2 TB SSD/Windows...
                             ...
317    (Infinix INBook X1 Neo Series Celeron Quad Cor...
188    (ASUS (2022) Celeron Dual Core, (4 GB/128 GB S...
288    (Lenovo IdeaPad 1 Celeron Dual Core, (4 GB/256...
485    (Avita SATUS ULTIMUS S111 Celeron Dual Core, (...
78     (Infinix INBook X1 Neo Series Celeron Quad Cor...
Name: title, Length: 528, dtype: object